<!DOCTYPE html PUBLIC>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <link rel="stylesheet" href="test.css" />
  <link rel="stylesheet" href="960.css" />
  <link rel="stylesheet" href="app.css" />
  <title>The Music Store</title>
</head>
<body ng-app="linkToCart" ng-controller="cartLinkCtrl">
  <div class="content">
    <div class="header">
      <div class="logo"><img src="images/02.png" alt="img" /></div>
      <div class="search" id="header-right-top">
        <div class="Currencies">Currencies:</div>
        <div class="US">
          <form>
            <select>
              <option disabled="disabled">Currencies</option>
              <option value="US Dollar">US Dollar</option>
              <option value="Euro">Euro</option>
            </select>
          </form>
        </div>
        <div class="Lang">Language:</div>
        <div class="eng">
          <form>
            <select>
              <option disabled="disabled">Language</option>
              <option value="English">English</option>
              <option value="German">German</option>
            </select>
          </form>
        </div>
        <div class="shop">
          <p class="text">
            <a href="/orders">My Orders</a>|<a href="/customers/update/shipping">Shipping Data</a>|<a href="registration">Register</a>|<a href="login">Log In</a>
          </p>
        </div>
        <a href="cart" ng-bind="cartLinkText" id="cartLink">{{ cartLinkText }}</a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="nav">
      <div class="nav1">
        <a href="/">Homepage</a>|<a href="/products">Products</a>|<a href="">Specials</a>|<a href="#">Reviews</a>|<a href="">Contact us</a>
      </div>
      <div class="form">
        <form method="post" id="searchBox">
          <input name="textfield" type="text" class="colortext"  placeholder=" Search entire store..." id="searchText"/>
          <input type="submit" id="searchbutton" value="Search">
        </form>
      </div>
    </div>
    <div class="img">
      <img class="one"  src="images/05.png" alt="img" />
      <img class="one" src="images/06.png" alt="img" />
      <img class="one" src="images/07.png" alt="img" />
      <img src="images/08.png" alt="img" />
    </div>
    <div class="main" ng-click="updateLink()">
      <div class="what"><span class="text4">What's New Here?</span></div>
      <div class="categ"><span class="text4">Categories</span></div>
      <div class="blue">
        <% for (var i = 0; i < 3; i++) { %>
        <div class="pic">
          <p><img src=<%= albums[i].photo %> alt="img" /></p>
          <p class="text5">Product # <%= albums[i].id %><br />Our price: <strong> $<%= albums[i].price %></strong></p>
          <p><a class="det" href=""><img src="images/12.png" alt="img" /></a><a class="add" href="" id="<%= albums[i].id %>"><img src="images/13.png" alt="img" /></a></p>
        </div>
        <% } %>
        <div class="clear"></div>
        <% for (var i = 3; i < 6; i++) { %>
        <div class="pic">
          <p><img src=<%= albums[i].photo %> alt="img" /></p>
          <p class="text5">Product # <%= albums[i].id %><br />Our price: <strong> $<%= albums[i].price %></strong></p>
          <p><a class="det" href=""><img src="images/12.png" alt="img" /></a><a class="add" href="" id="<%= albums[i].id %>"><img src="images/13.png" alt="img" /></a></p>
        </div>
        <% } %>
      </div>
      <div class="ull">
        <ul>
          <li><a href="">Hip-Hop</a></li>
          <li><a href="">Blues</a></li>
          <li><a href="">Jazz</a></li>
          <li><a href="">Rock'n roll</a></li>
          <li><a href="">Indie Pop</a></li>
          <li><a href="">Rock</a></li>
          <li class="last"><a href="">Pop</a></li>
        </ul>
        <div class="b"><span class="text4">Bestsellers</span></div>
        <div class="pic1">
          <p class="text5">Product # 013</p><p><img  class="imgimg" src="images/22.png" alt="img" /></p>
          <p class="text5">$29.99 <del>$39.99</del></p>
          <p class="imgimg"><a class="det" href=""><img src="images/12.png" alt="img" /></a><a class="add" href="" id="13"><img src="images/13.png" alt="img" /></a></p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
      <div class="foot1"><p class="text6"><a href="/orders">My Orders </a> &nbsp;  |&nbsp; <a href="/customers/update/shipping">   Shipping Data </a>  &nbsp; |&nbsp;<a href="#">    Reviews </a>  &nbsp; |&nbsp; <a href="registration">   Register </a> &nbsp;  | &nbsp;<a href="/login">   Log In</a></p>
      </div>
      <div class="foot2">
        <div class="v">
          <p class="text6">Copyright © 2017 Music Store &nbsp;  <a href="">  Privacy Notice </a>   &nbsp;| &nbsp;   <a href=""> Conditions of Use</a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="javascripts/store.js"></script>
  <script src="javascripts/cart.js"></script>
  <script src="javascripts/linkToCart.js"></script>
</body>
</html>
